<ion-header>
        <ion-navbar color='titleNavBar'>
            <ion-title >
               Manage Item: {{homeItem.title}}
            </ion-title>
        </ion-navbar>
    </ion-header>
    
    <ion-content class="gradient" padding>
        <ion-spinner *ngIf="isLoading || isRemoving"></ion-spinner>
           <!-- Form for editing the current budget item-->
           <ion-card *ngIf="!isLoading && !isRemoving && isEdit" class="ion-card-border">
            <form (submit)="editCurrentItem(homeItem)">
                <ion-item color="secondary">
                    <ion-label>Title</ion-label>
                    <ion-input type="text" [(ngModel)]="title" name="title" [placeholder]="homeItem.title"></ion-input>
                </ion-item>
                <ion-item color="secondary">
                    <ion-label>Description</ion-label>
                    <ion-input type="text" [(ngModel)]="description" name="description" [placeholder]="homeItem.description"></ion-input>
                </ion-item>
                <ion-list radio-group [(ngModel)]="list" name="list">
                        <ion-item color="secondary">
                            <ion-label>Todo</ion-label>
                            <ion-radio value=1></ion-radio>
                        </ion-item>
                        <ion-item color="secondary">
                            <ion-label>Doing</ion-label>
                            <ion-radio value=2></ion-radio>
                        </ion-item>
                        <ion-item color="secondary">
                                <ion-label>Done</ion-label>
                                <ion-radio value=3></ion-radio>
                            </ion-item>
                    </ion-list>
                <p class="errMsg" *ngIf="formInvalid"> Form is invalid: {{errMsg}}</p>
                <button ion-button type="submit" block color="yellow">Edit Event</button>
            </form>
            <button ion-button (click)="removeCurrentItem()" block>Remove Event</button>
         </ion-card> 
         </ion-content>