<ion-header>
    <ion-navbar color='titleNavBar'>
        <ion-title *ngIf="user!=''">
            {{user}}'s Todo
        </ion-title>
        <ion-title *ngIf="user==''">
            Todo
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="gradient">



    <ion-card class="ion-card-border">
        <div padding>
          
            <ion-segment [(ngModel)]="list">
                <ion-segment-button value="todo">
                    Todo
                </ion-segment-button>
                <ion-segment-button value="doing">
                    Doing
                </ion-segment-button>
                <ion-segment-button value="done">
                    Done
                </ion-segment-button>
            </ion-segment>
            <button ion-button block style="margin-top:25px;" (click) = "addNewItem()">
                    <ion-icon name="add" color="secondary" style="float:center;"></ion-icon>
            </button>
        </div>
        <ion-card class="ion-card-border">
            <div [ngSwitch]="list">
                <ion-list *ngSwitchCase="'todo'" class="list-taksLists">
                    <ion-item *ngFor='let task of todoList; let i = index' color="secondary">
                        <h2 text-capitalize style="float:left;">{{task.title}}</h2>
                        <button (click)="manage(task)" item-right>
                            <ion-icon name="more" style="float:right;"></ion-icon>
                        </button>
                    </ion-item>

                </ion-list>

                <ion-list *ngSwitchCase="'doing'">

                    <ion-item *ngFor='let task of doingList; let i = index' color="secondary">
                        <h2 text-capitalize style="float:left;">{{task.title}}</h2>
                        <button (click)="manage(task)" item-right>
                            <ion-icon name="more"  style="float:right;"></ion-icon>
                        </button>


                    </ion-item>

                </ion-list>
                <ion-list *ngSwitchCase="'done'">
                    <ion-item *ngFor='let task of doneList; let i = index' color="secondary">
                        <h2 text-capitalize style="float:left;">{{task.title}}</h2>
                        <button (click)="manage(task)" item-right>
                            <ion-icon name="more" style="float:right;"></ion-icon>
                        </button>
                    </ion-item>

                </ion-list>
            </div>
        </ion-card>
    </ion-card>

</ion-content>