<ion-header>
    <ion-navbar color='titleNavBar'>
        <ion-title *ngIf="budgetItem!=null && !isLoading">
            Edit Budget Item : {{budgetItem.title}}
        </ion-title>
        <ion-title *ngIf="budgetItem==null && !isLoading">
            Enter Budget Details
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="gradient" padding>
    <ion-spinner *ngIf="isLoading" style="magin:45%"></ion-spinner>
    <!-- Form for creating a new budget item -->
    <ion-card *ngIf="budgetItem==null && !isLoading" class="ion-card-border">
        <form (submit)="createNewBudgetItem()">
            <ion-item color="secondary">
                <ion-label>Title</ion-label>
                <ion-input type="text" [(ngModel)]="title" name="title" placeholder = "title" ></ion-input>
            </ion-item>
            <ion-item color="secondary">
                <ion-label>Amount</ion-label>
                <ion-input type="number" [(ngModel)]="amount" name="amount" placeholder = "amount"></ion-input>
            </ion-item>
            <ion-list radio-group [(ngModel)]="isIncome" name="isIncome">
                <ion-item color="secondary">
                    <ion-label>Income</ion-label>
                    <ion-radio value=1></ion-radio>
                </ion-item>
                <ion-item color="secondary">
                    <ion-label>Outcome</ion-label>
                    <ion-radio value=0></ion-radio>
                </ion-item>
            </ion-list>
            <p class="errMsg" *ngIf="formInvalid"> Form is invalid: {{errMsg}}</p>
            <button ion-button type="submit" block>Add Budget Item</button>
        </form>
    </ion-card>

    <!-- Form for editing the current budget item-->
    <ion-card *ngIf="budgetItem!=null && isEdit && !isLoading" class="ion-card-border">
        <form (submit)="editCurrentBudgetItem(budgetItem)">
            <ion-item color="secondary">
                <ion-label>Title</ion-label>
                <ion-input type="text" [(ngModel)]="title" name="title" [placeholder]="budgetItem.title"></ion-input>
            </ion-item>
            <ion-item color="secondary">
                <ion-label>Amount</ion-label>
                <ion-input type="number" [(ngModel)]="amount" name="amount" [placeholder]="budgetItem.amount"></ion-input>
            </ion-item>
            <ion-list radio-group [(ngModel)]="isIncome" name="isIncome">
                <ion-item color="secondary">
                    <ion-label>Income</ion-label>
                    <ion-radio value=1></ion-radio>
                </ion-item>
                <ion-item color="secondary">
                    <ion-label>Outcome</ion-label>
                    <ion-radio value=0 ng-checked="!budgetItem.income"></ion-radio>
                </ion-item>
            </ion-list>
            <p class="errMsg" *ngIf="formInvalid"> Form is invalid: {{errMsg}}</p>
            <button ion-button type="submit" block>Edit Budget Item</button>
        </form>
    </ion-card>
</ion-content>