<ion-header>
  <ion-navbar color='titleNavBar'>
    <ion-title>
        {{user}}'s Budget
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="gradient" > 
    <ion-card class="ion-card-border">
        <button ion-item detail-none (click)="createNewBudget()" color="secondary"> 
            Add New Budget Item
            <ion-icon name="add-circle" item-end color="yellow"></ion-icon>
          </button>
      <ion-item color="secondary">
          <ion-label>
              Spending Money:
            </ion-label>
            <div *ngIf="budget.length <= 0" item-content>
              $ 0
            </div>
            <div *ngIf="budget.length > 0" item-content>
                $ {{spending}}
              </div>
      </ion-item>
    </ion-card>
<ion-card *ngIf="budget.length <= 0" class="ion-card-border">
      <ion-spinner></ion-spinner>
</ion-card>

<ion-card *ngIf="budget.length > 0" class="ion-card-border">
  <ion-card-header>
    Current Budget Items:
  </ion-card-header>
  <ion-list class="list-of-budgets">
      <ion-item-sliding (overslide)="handleOverslide(item)" *ngFor="let bud of budget" #item overslide>
          <ion-item color="secondary">
              <ion-label>
                  {{bud.title}}
                </ion-label>
                <div item-content>
                    <ion-icon name="add" [hidden]="!bud.income" color="income"></ion-icon>
                    <ion-icon name="remove" [hidden]="bud.income" color="outcome"></ion-icon>
                     {{bud.amount}}
                </div>
          </ion-item>
            <ion-item-options side="right">
                <button ion-button (click)="editCurrentBudget(bud)"  color="yellow">
                    <ion-icon name="clipboard"></ion-icon> Edit
                  </button>
              <button ion-button (click)="removeCurrentBudget(bud)" color="primary">
                <ion-icon name="trash"></ion-icon> Delete
              </button>
            </ion-item-options>
      </ion-item-sliding>
  </ion-list>
</ion-card>

</ion-content>