<ion-header>
  <ion-navbar color='titleNavBar'>
    <ion-title>
      Budget
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="gradient"> 
<h2>Budget Info</h2>
<button ion-button (click)="createNewContact()">Add budget</button>
<div>
  <h3>Incomes</h3>
  <ion-list>
      <ion-item *ngFor="let item of budget">
          <p *ngIf="item.income">{{item.title}} : {{item.amount}}</p>
      </ion-item>
  </ion-list>
</div>
<div>
    <h3>Outcomes</h3>
    <ion-list>
        <ion-item *ngFor="let item of budget">
            <p *ngIf="!item.income">{{item.title}} : {{item.amount}}</p>
        </ion-item>
    </ion-list>
  </div>
</ion-content>
