<ion-header>
    <ion-navbar color='titleNavBar'>
      <ion-title *ngIf="user!=''">
          {{user}}'s Schedule
      </ion-title>
      <ion-title *ngIf="user==''">
        Schedule
    </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content class="gradient">
        <ion-spinner flex *ngIf="!isLoaded" style="float: center;"></ion-spinner>
    <ion-slides *ngIf="isLoaded">
        <ion-slide class="format-slide" *ngFor="let s of schedules">
            <ion-card class="format-card">
                <h1 text-uppercase>{{s.day}}</h1>
                <ion-list class="list-of-schedules">
                    <!-- First Level -->
                    <ion-item *ngFor="let sched of s.sched_times; let i = index" no-lines color="secondary">
                        <!-- Toggle Button -->
                        <button ion-item *ngIf="sched.title!=''" (click)="toggleSection(i, s)" detail-none color="secondary">
                            <h2 *ngIf="i < 4">{{ sched.timeid }}:00 AM </h2>
                            <h2 *ngIf="i >= 4">{{ sched.timeid }}:00 PM</h2>
                            <h2 text-capitalize *ngIf="!sched.open">{{sched.title}}</h2>
                            <ion-icon item-right name="arrow-forward" *ngIf="!sched.open" color="danger"></ion-icon>
                            <ion-icon item-right name="arrow-down" *ngIf="sched.open" color="danger"></ion-icon>
                        </button>
                        <button ion-item *ngIf="sched.title==''" (click)="editCurrentSchedule(sched)" detail-none color="secondary">
                            <h2 *ngIf="i < 4">{{ sched.timeid }}:00 AM </h2>
                            <h2 *ngIf="i >= 4">{{ sched.timeid }}:00 PM</h2>
                            <ion-icon item-right name="add-circle" item-end color="danger"></ion-icon>
                        </button>
                        <ion-item *ngIf="sched.open" color="secondary">
                            <h2 text-uppercase>{{ sched.title }}</h2>
                            <button *ngIf="sched.title==''" ion-button item-end color="yellow" (click)="editCurrentSchedule(sched)">Add
                                Event</button>
                            <button *ngIf="sched.title!=''" ion-button item-end color="yellow" (click)="editCurrentSchedule(sched)">Edit</button>
                            <p text-lowercase>{{ sched.description }}</p>
                            <!-- Direct Add Button -->
                            <!-- <button ion-button item-end color="primary">Delete</button> -->
                            <ion-avatar *ngIf="sched.category!=''" item-start>
                                <img *ngIf="sched.category=='work'" src="../../assets/imgs/work.png">
                                <img *ngIf="sched.category=='school'" src="../../assets/imgs/school.png">
                                <img *ngIf="sched.category=='home'" src="../../assets/imgs/home.png">
                                <img *ngIf="sched.category=='misc'" src="../../assets/imgs/misc.png">
                                <!-- <img src="../../assets/imgs/"{sched.category}}.png"> -->
                                <p text-uppercase>{{sched.category}}</p>
                            </ion-avatar>
                        </ion-item>
                    </ion-item>
                </ion-list>
            </ion-card>
        </ion-slide>
    </ion-slides>
    <ion-fab #fab right bottom>
        <button ion-fab mini color="primary"><ion-icon name="arrow-dropleft"></ion-icon></button>
        <ion-fab-list side="left" no-padding>
            <button (click)="slideTo(6)"  ion-fab class="fab-button-small" color="primary">S</button>
            <button (click)="slideTo(5)" ion-fab class="fab-button-small" color="primary">S</button>
            <button (click)="slideTo(4)" ion-fab class="fab-button-small" color="primary">F</button>
            <button (click)="slideTo(3)" ion-fab class="fab-button-small" color="primary">T</button>
            <button (click)="slideTo(2)" ion-fab class="fab-button-small" color="primary">W</button>
            <button (click)="slideTo(1)" ion-fab class="fab-button-small" color="primary">T</button>
            <button (click)="slideTo(0)" ion-fab class="fab-button-small" color="primary">M</button>
        </ion-fab-list>
    </ion-fab>
</ion-content>