.list-of-schedules {
    max-height: 350px;
    overflow-y: scroll;
    background-color: #E2E2E2;
}

.format-card{
    max-height: 75%;
    background-color: #E2E2E2;
    padding-bottom: 10px;
    padding-top: 10px;
}


h1 {
    color: #6E7E85;
}

p{
    margin: auto;
}

.fab-button-small{
    margin: 5px !important;
    width: 30px;
    height: 30px;
    line-height: 30px;
}